.thumbnail{
width:100%;
}
.info-grid{
    display:grid;
    grid-template-columns: 50px 1fr;
    
}
.title{
    margin-top:0;
    font-weight:500;
    font-size:14px;
    line-height:20px;
    margin-bottom: 10px;
}
.author{
    font-size:12px;
    color:rgb(96, 96, 96);
    margin-top:8px;
    line-height: 20px;
}
.stats{
    font-size:12px;
    color: rgb(96, 96, 96);
}
.video-row{
    margin-bottom:8px;
    position: relative;
}
.icon-1{
    width:36px;
    border-radius:50px;
}
.videos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px; 
    row-gap: 40px;  
}

@media (min-width: 0px) {
    .videos-grid{
        grid-template-columns: 1fr;
    } 
}

@media (min-width: 300px) and (max-width: 500px) {
    .videos-grid{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 501px) and (max-width: 749px) {
    .videos-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 750px) and (max-width: 999px) {
    .videos-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px) {
    .videos-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-time{
    font-family: roboto, arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;

}